/* universal styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* shared styles */
.display-flex,
.menu-item
{
    display: flex;
}











/* navbar related styles */

#text-lg{
  background: linear-gradient(47.64deg, rgba(247,233,63,1), rgba(251,9,180,1), rgba(145,0,248,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#white-text{
    color: white;
}

.menu .menu-item a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
}
.menu .menu-item{
    list-style: none;
}
.primary-button{
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
.navbar{
    justify-content: space-between;
    padding: 24px 200px;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(26, 11, 46, 1);
    /* border-bottom: 0.5px solid; 
    border-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)) 1; */
}
.menu-item{
    gap: 32px;
}