/* universal styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h1{
    background-color: tomato;
}
