/* universal styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* shared styles */
.display-flex,
.menu-item,
.feature-parent,
.lgp,
.host
{
    display: flex;
}
.button{
    transition: 0.3s ease;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.1)
}
body{
    background-color: rgba(26, 11, 46, 1);
}
.bgcolor2{
    background-color:rgba(145, 0, 248, 1);
}






/* navbar related styles */

#text-lg{
  background: linear-gradient(47.64deg, rgba(247,233,63,1), rgba(251,9,180,1), rgba(145,0,248,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#white-text{
    color: white;
}

.menu .menu-item a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-weight: 500;
}
.menu .menu-item{
    list-style: none;
}
.primary-button{
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.navbar{
    justify-content: space-between;
    padding: 24px 200px;
    align-items: center;
    /* margin: 0 auto; */
    background-color: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-item{
    gap: 32px;
}
.hero{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 97px 0;
}
.second-button{
    color:  rgba(0, 255, 136, 1);
    padding: 12px 16px;
    border-radius: 10000px;
    background: rgba(0, 255, 136, 0);
    border: 1px solid rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.hero-text{
    text-align: center;
    
    /* padding-bottom: 102px; */
}

.hero-text h2{
    color: rgba(255, 255, 255, 1);
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
    margin-top: 40px;
}
.hero-text p{
    color: rgba(255, 255, 255,0.8);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.banner-button{
    display: flex;
    justify-content: center; 
    gap: 12px;
}
.microphone{
    position: absolute;
    top: 79px;
    left: 118px;
}
.hero-circle{
    /* padding-top: 105px; */
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    /* background-color: tomato; */
}
.newbtn button{
    color:rgba(26, 11, 46, 1);
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    background-color:rgba(0, 255, 136, 1);
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    padding: 8px 16px;
    position: absolute;
    top: 12px;
    right: 23px;
}
.about{
    text-align: center;
}
.main-text{
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.main-text h1{
    font-size: 48px;
    font-weight: 700;
    color:rgba(255, 255, 255, 1);
    padding-top: 50px;
}
.main-text p{
    color:rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 79.5px;
}
.stats-card h1{
    color: rgba(0, 255, 136, 1);
    font-size: 48px;
    font-weight: 900;
}
.stats-card p{
    color: rgba(255, 255, 255, 0.8);
    margin-top: 16px;
}
.stats-parent{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80.5px 0 120px;
}
#bolt i{
    font-size: 60px;
    width: 60px;
    height: 60px;
    
    /* background-color: tomato; */
     background: linear-gradient(47.64deg, rgba(247,233,63,1), rgba(251,9,180,1), rgba(145,0,248,1));
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
}
section h1{
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
section{
    background: rgba(35, 14, 61, 1);
    padding: 120px 200px;
}
.why h3{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.why p{
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}
.why img, .why i{
    margin-bottom: 16px;
}
.why{
    padding: 107.5px 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    cursor: pointer;
}
.why:hover{
    box-shadow:10px 10px 5px rgba(147, 94, 215, 0.1);
}
.whyparent{
    display: grid;
    gap: 30px;
    grid-template-areas: 
        "premium mobile mobile"
        "premium global global"
        "exclusive exclusive rich"

}
#premium{
    grid-area: premium;
}
#mobile{
    grid-area: mobile;
}
#global{
    grid-area: global;
}
#exclusive{
    grid-area: exclusive;
}
#rich{
    grid-area: rich;
}
.featured h1{
    padding-top: 120px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.video{
    width: 380px;
    background: rgba(37, 13, 68, 1);
    border-radius: 24px;
}
.video:hover{
    box-shadow:10px 10px 5px rgba(147, 94, 215, 0.1);
}
.video iframe{
    border-radius: 24px 24px 0 0;
}
.video-text{
    padding: 24px;
}
.video-text h3{
    color: rgba(255, 255, 255, 1);
    margin-bottom: 12px;
}
.video-text p{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 12px;
}
.video-text div{
    display: flex;
    gap: 6px;
    color: rgba(0, 255, 136, 1);
}
.feature-parent{
    margin-top: 40px;
    gap: 30px;
    justify-content: center;
    margin-bottom: 120px;
}
.lgp{
    gap: 8px;
}
.lgp div {
  display: inline-flex;       
  align-items: center;
  justify-content: center;
  padding: 10px;               
  border: 2px solid rgba(83, 60, 114, 1);   
  border-radius: 50%;         
}

.lgp div img {
  width: 20px;
  height: 20px;
}
.host{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
}
#mth{
    max-width: 1200px;
    margin: 0 auto;
}
#mth h1{
    margin-bottom: 40px;
}
.host-text h2{
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 700;
}
.host-text p{
    color: rgba(255, 255, 255, 0.6);
    margin-top: 16px;
    margin-bottom: 16px;
}

.host{
    gap: 24px;
    margin-bottom: 120px;
}



/* live link er meet the host er styles ase nai */









/* media query */